<span><a href="{% url 'index' %}">الصفحة الرئيسية</a></span>
<span><a href="{% url 'about' %}">حول البرنامج</a></span>
{% if user.is_authenticated %}
<span>
    <a href="foods">الأغذية</a>
</span>
<span>
    <h2>
        <a href="{% url 'admin:index' %}">{{ user.username }}
        </a>أهلاً
    </h2>
</span>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">تسجيل خروج</button>
  </form>
{% else %}
<p>لم تقم بتسجيل الدخول</p>
<span><a href="{% url 'login' %}">تسجيل دخول</a></span>
{% endif %}